[Desktop Entry]
Name=Achim
Comment=Set and manage alarms
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY WAYLAND_DISPLAY=$WAYLAND_DISPLAY XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS /usr/local/bin/achim_alarm
Icon=com.gg582.achim-alarm
Terminal=false
Type=Application
Categories=Utility;Clock;
