[Desktop Entry]
Name=Achim
Comment=Set and manage alarms
Exec=pkexec /usr/local/bin/achim_alarm
Icon=utilities-clock
Terminal=false
Type=Application
Categories=Utility;Clock;
